/* Website Styles */

* {
  font-size: 66%
}

Body {
  background-color: Navy;
  font-family: cursive;
}

h1 {font-size: 33px;
  color: white;
}

h2 {font-size: 26px;
  color: white;
}

h3 {font-size: 26px;
  color: white;
}

h1 {
  font-family: Indie Flower, cursive;
}

h2 {
  font-family: Indie Flower, cursive;
}

h3 {
  font-family: Indie Flower, cursive;
}

p {
  color: Green;
}
