/* Website Styles */

Body {
  background-color: Navy;
  font-family: cursive;
}

h1 {font-size: 40px;
  color: white;
}

h2 {font-size: 30px;
  color: white;
}

h3 {font-size: 30px;
  color: white;
}

h1 {
  font-family: Indie Flower, cursive;
}

h2 {
  font-family: Indie Flower, cursive;
}

h3 {
  font-family: Indie Flower, cursive;
}

p {
  color: Green;
}

h1 {
  font-weight: bolder;
}

h2 {
  font-weight: lighter;
}

h3 {
  font-weight: lighter;
}
