/* Website Styles */

Body {
  background-color: Navy;
}

h1 {font-size: 40px;
  color: white;
  text-align: center;
}

h2 {font-size: 30px;
  color: white;
  text-align: center;
}

h3 {font-size: 30px;
  color: white;
  text-align: center;
}

h1 {
  font-family: Indie Flower, cursive;
}

h2 {
  font-family: Indie Flower, cursive;
}

h3 {
  font-family: Indie Flower, cursive;
}

p {
  color: Green;
}

h1 {
  font-weight: bold;
  font-style: italic;
}

h2 {
  font-weight: bold;
  font-style: italic;
}

h3 {
  font-weight: bold;
  font-style: italic;
}

p {
  line-height: inherit;
  text-align: center;
}
